In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
measurements_df=pd.read_csv('raw_data/hawaii_measurements.csv')
stations_df=pd.read_csv('raw_data/hawaii_stations.csv')

In [3]:
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
measurements_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [6]:
stations_df.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [7]:
#Drop all null values in prcp column
measurements_df = measurements_df.dropna()
measurements_df.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [8]:
#Store the cleaned dataframes to csv files
measurements_df.to_csv('clean_measurements', index=False)
stations_df.to_csv('clean_stations', index=False)